<div class="container" style="margin: 20px;">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <h5>{{ establishment.name }} | {{ establishment.description }}</h5>
        </div>
        <div class="col-sm">
          <h5 style="color: orange; float: right; margin-right: 25px;">{{ establishment.stars }} Estrelas</h5>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group" style="margin-top: 30px;">
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 style="color: orange; float: right; margin-right: 25px;">{{ establishment.stars }} Estrelas</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Muito bom.</p>
      <small>Gustavo Alves</small>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 style="color: orange; float: right; margin-right: 25px;">{{ establishment.stars }} Estrelas</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Muito ruim, desagravel.</p>
      <small>Mateus Jalanderson</small>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 style="color: orange; float: right; margin-right: 25px;">{{ establishment.stars }} Estrelas</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Excelente.</p>
      <small>Gabriel Campo</small>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 style="color: orange; float: right; margin-right: 25px;">{{ establishment.stars }} Estrelas</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Bom</p>
      <small>Pericles Batista</small>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 style="color: orange; float: right; margin-right: 25px;">{{ establishment.stars }} Estrelas</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Ruim. Caro demais.</p>
      <small>João do Gueto</small>
    </li>
  </ul>
</div>