<div class="card">
        <div class="card-body">
                <div class="row" style="padding: 20px;">
                        <div class="col-sm">
                                <select class="form-control form-control-lg" [(ngModel)]="state" (change)="loadCities()">
                                        <option>Estado</option>
                                        <option *ngFor="let establishmentState of establishmentsStates" >
                                                {{ establishmentState }}</option>
                                </select>
                        </div>
                        <div class="col-sm">

                                <select class="form-control form-control-lg" [(ngModel)]="city" (change)="loadDistricts()">
                                        <option>Cidade</option>
                                        <option *ngFor="let establishmentsCity of establishmentsCities">
                                                {{ establishmentsCity }}</option>
                                </select>
                        </div>
                        <div class="col-sm">
                                <select class="form-control form-control-lg" [(ngModel)]="district">
                                        <option>Bairro</option>
                                        <option *ngFor="let establishmentsDistrict of establishmentsDistricts">
                                                {{ establishmentsDistrict }}</option>
                                </select>
                        </div>
                </div>
                <hr>
                <a href="#" class="btn btn-warning" (click)="findByParameters()">Listar Estabelecimentos</a>
        </div>
</div>

<div class="list-group" *ngFor="let establishment of establishments">
        <a routerLink="establishment/{{ establishment.id }}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ establishment.name }}</h5>
                        <small></small>
                </div>
                <p class="mb-1">{{ establishment.description }}</p>
                <small>
                        <p class="mb-1" style="color: orange;">{{ establishment.stars }}</p>
                </small>
        </a>
</div>

