<h1>Cadastrar Estabelecimento</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Nome</label>
      <input [(ngModel)]="name" type="text" class="form-control" id="inputName" placeholder="Nome Estabelecimento">
      <label for="inputDescription">Descrição</label>
      <textarea [(ngModel)]="description" class="form-control" id="inputDescription" rows="3" placeholder="Restaurante italiano..."></textarea>
      <label for="inputNumber">Numero</label>
      <input [(ngModel)]="number" type="text" class="form-control" id="inputZip">
      <button type="submit" class="btn btn-warning" style="margin-top: 30px;">Cadastro</button>
    </div>
    <div class="form-group col-md-6">
      <label for="inputCNPJ">CNPJ</label>
      <input [(ngModel)]="cnpj" type="text" class="form-control" id="inputCNPJ" placeholder="CNPJ">
      <label for="inputState">Estado</label>
      <select [(ngModel)]="state" id="inputState" class="form-control">
        <option selected>Escolher...</option>
        <option *ngFor="let establishmentsState of establishmentsStates">{{ establishmentsState }}</option>
      </select>
      <label for="inputCity">Cidade</label>
      <select [(ngModel)]="city" id="inputCity" class="form-control">
        <option selected>Escolher...</option>
        <option *ngFor="let establishmentsCity of establishmentsCities">{{ establishmentsCity }}</option>
      </select>
      <label for="inputDistrict">Bairro</label>
      <select [(ngModel)]="district" id="inputDistrict" class="form-control">
        <option selected>Escolher...</option>
        <option *ngFor="let establishmentsDistrict of establishmentsDistricts">{{ establishmentsDistrict }}</option>
      </select>
    </div>
  </div>
</form>