<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #cc2525;">
        <a class="navbar-brand" href="#" style="color: orange; margin-right: 0%;">My</a>
        <a class="navbar-brand" href="#" style="color: white; margin-left: 0%;">Review</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Estabelecimentos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cadastro">Cadastro</a>
            </li>
          </ul>
        </div>
      </nav>
